<div class="icmDashboardWidget">
		<div>
				<b>Sample Widget</b>
		</div>
		<div data-dojo-attach-point="messageNode" style="margin-left: 10px">
				<div data-dojo-attach-point="contentSearchResults" id="contentSearchResults" data-dojo-type="ecm/widget/listView/ContentList"></div>
		</div>
		<div data-dojo-attach-point="receiverNode" style="margin-left: 10px"></div>
</div>
